html, body {
  height: 100%;
}

h1{
  text-align: center;
  color: black;
}

footer {
  display: flex;
  justify-content: center;
}
h4{
  color: black;
/*  border:dashed blue 2px;*/


}
#profile{
  text-align: center;

  text-align: center;
  font-family: arial;
  margin-top: 25px;

}
p{
  text-align:center;
}
.save-btn{
    justify-content:center;
    margin-left: 550px;

}
#events{
  text-align: center;

}
 a {
  text-decoration: none;
  color: rgb(12,95,249);
 }

 .coverpic {
  height:100%;
  width:100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
}

 .imgtext{
  color:floralwhite;
  font-size: 70px;
  position: absolute;
  top: 50%;
  bottom:50%;
  left:40%;
  right:50%;
 }


/**
styles for top navigation bar
*/

.site-header {
  background-color: black;
}

.site-header a, .site-header .aslink {
  color: #999;
  transition: ease-in-out color .15s;
}

footer {
  background-color: #f8f9fa !important;
  color: #212529;
}
.card{

}


.main-container {
  padding: 0rem;
  min-height: 80%;
  background-size: cover;
}
.error-message {
  display: none;
}
.well h2 {
  text-align: center;
  padding-bottom: 2.5rem;
  padding-top: 2.5rem;
}
.well {
  padding: 2rem;
  border: 1px solid;
  background-color: lightgray;
}

.profile-image {
  width: 200px;
  height: 200px;
  margin-left: 10px;
  margin-top: 10px;

}
.profile-name{
padding-top: 50px;
 margin-left: 10px;
}
.profile-email{
padding-top: 50px;
 margin-left: 10px;
}
.profile-interests{
  text-align: center;
  margin-top: -50px;

  margin-top: -300px;
  padding-bottom: 300px;
}
.interests{
  text-decoration: underline;
  text-align: center;
  margin-top: -300px;
  padding-bottom: 300px;
}

.center-text {
  text-align: center;
}

.user-events{
text-align: center;
list-style-type: none;

#event_detail{
  padding: 0 20em;
}

#event_detail a{
  background: black;
}
#event_detail h1{
  text-align: left;
}
#event_detail h5{
  text-align: left;

}

h3 {
  text-align: center;
}
