
h1{
  text-align: center;
  color: turquoise;
}

footer {
  display: flex;
  justify-content: center;
}
h4{
  color: blue;
/*  border:dashed blue 2px;*/


}
#profile{
  text-align: center;
  outline: solid black 2px;
  padding-left: 200px;
  padding-right: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin-top: 100px;

}
p{
  text-align:center;
}
.save-btn{
    justify-content:center;
    margin-left: 550px;

}
#events{
  text-align: center;
  outline: solid black 2px;
}
 a {
  text-decoration: none;
  color: rgb(57,220,198);
 }


