{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<h1>About Us</h1>

<div class='row'>
    <div class='col-md center-text'>
        <img class="rounded rounded-circle profile-image" src='https://media.licdn.com/dms/image/C5603AQH-pwOi1ycC2A/profile-displayphoto-shrink_200_200/0?e=1538611200&v=beta&t=uypkFNiUZygLnHdtDznN67zR4lHlfgbJbwF4w_bn2bY'>

        <h3>Niti Singhal</h3>
        <p> I am Full-Stack Web-developer with the background in mainframes. I like creating new apps. </p>
    </div>
    <div class='col-md center-text'>
        <img class="rounded rounded-circle profile-image" src='https://media.licdn.com/dms/image/C5603AQG1HbSnPMqlDw/profile-displayphoto-shrink_800_800/0?e=1538611200&v=beta&t=Kdm_CofV7dMSjvuQakNAATepWGLT9IUX8K-JHQM27uo'>

        <h3>Laynah Gao</h3>
        <p>Full-stack developer with marketing background</p>

    </div>
    <div class='col-md center-text'>
        <img class="rounded rounded-circle profile-image" src='https://media.licdn.com/dms/image/C5603AQHI2ZxPrK_y-Q/profile-displayphoto-shrink_800_800/0?e=1538611200&v=beta&t=TVXhUOMdSf76NHD9mylhtRC58jDSx_e23mw7pqmEXlw'>

        <h3>Marcus Hunter</h3>
        <p>Current WDI student at General Assembly. Studying to become a Full-stack web developer. </p>
    </div>
</div>
{% endblock %}
