{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<h1>About Us</h1>

<div class='row'>
    <div class='col-md center-text'>
        <img class="rounded rounded-circle profile-image" src='https://media.licdn.com/dms/image/C5603AQH-pwOi1ycC2A/profile-displayphoto-shrink_200_200/0?e=1538611200&v=beta&t=uypkFNiUZygLnHdtDznN67zR4lHlfgbJbwF4w_bn2bY'>

        <h3>Niti Singhal</h3>
    </div>
    <div class='col-md center-text'>
        <img class="rounded rounded-circle profile-image" src='http://via.placeholder.com/200x200'>

        <h3>Laynah Gao</h3>
    </div>
    <div class='col-md center-text'>
        <img class="rounded rounded-circle profile-image" src='http://via.placeholder.com/200x200'>

        <h3>Marcus Hunter</h3>
    </div>
</div>
{% endblock %}
