{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}


<h2>{{ event.event_name  }} <!-- <a href ="{% url 'event_edit' id=event.id %}">(edit)</a> --> </h2>
<a href="{% url 'user_info' id=user.id%}">My Profile</a>
<p>
<strong>Name:</strong>{{ event.event_name }}<br/>
<strong>Date:</strong>{{ event.date }}<br/>
<strong>Time:</strong>{{ event.time }}<br/>
<strong>Location:</strong>{{ event.event_location}}<br/>
<strong>Attendees:</strong>{{ event.attendees}}<br/>
<strong>Description:</strong>{{ event.event_description}}<br/>
</p>
 <a class="btn" data-id="{{event.id}}" href="{% url 'event_attendees' id=event.id %}">
<div id="event_detail">
<h1>{{ event.event_name  }} <!-- <a href ="{% url 'event_edit' id=event.id %}">(edit)</a> --> </h2>
<br/>
<h5><strong>Owner:</strong>{{ event.user.username }}</h5><br/>
<h5><strong>Name:</strong>{{ event.event_name }}</h5><br/>
<h5><strong>Date:</strong>{{ event.date }}</h5><br/>
<h5><strong>Time:</strong>{{ event.time }}</h5><br/>
<h5><strong>Location:</strong>{{ event.event_location}}</h5><br/>
<h5><strong>Attendees:</strong>{{ event.attendees}}</h5><br/>
<h5><strong>Description:</strong>{{ event.event_description}}</h5><br/>
<a class="btn" data-id="{{event.id}}" href="{% url 'event_attendees' id=event.id %}">

      RSVP{% if event.attendees > 0 %} {% else %} None :( {% endif %}


{% endblock %}
</div>
