{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<h2>{{ event.event_name  }} <a href ="{% url 'event_edit' id=event.id %}">(edit)</a> </h2>

<p>
<strong>Name:</strong>{{ event.event_name }}<br/>
<strong>Owner:</strong>{{ event.owner }}<br/>
<strong>DateTime:</strong>{{ event.event_datetime }}<br/>
<strong>Location:</strong>{{ event.event_location }}<br/>
<!-- <strong>Attendees:</strong>{{ event.attendees }}<br/> -->
<strong>Description:</strong>{{ event.event_description }}<br/>
</p>
<!-- <a class="waves-effect attend btn" data-id="{user.id}}">
    Attendees: {% if event.attendees > 0 %} {{ event.attendees }} {% else %} None :( {% endif %}
</a> -->
{% endblock %}
