{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}
<nav>
    <div class="user-info">
      {% if user.is_authenticated %}
          Welcome, {{ user.username }}
          <a href="{% url 'logout' %}">Signout</a>
      {% else %}
          <a href="{% url 'login' %}">Signin</a>
      {% endif %}
    </div>
</nav>

<a href="{% url 'user_create' %}">Edit User Profile</a>
<hr />
<a href="{% url 'event_create' %}">Create New Event</a>

<h3>Event List</h3>
<hr />



{% for event in events %}
  <a href="/{{ event.id }}">
   <ul>
    <li>
      <p><strong>Event Name: </strong>{{ event.event_name }} &nbsp;
         <strong>Event Owner: </strong>{{ event.owner }} &nbsp;
         <strong>Event location: </strong>{{ event.event_location }}
       </p>
    </li>
   </ul>
  </a>
 {% endfor %}
{% endblock %}

