{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div id="profile">
<h2>{{profile.user.username}}'s profile</h2><a href="{% url 'user_edit' id=user.id %}">Edit profile</a></h2>
</div>
<div class="card">
  {% if profile.picture %}
    <img class="profile-image" src="{{ profile.picture.url }}" alt="{{ profile.user.username }}" width="350" height="200" />
  {% else %}
    <img class="profile-image" src="/static/img/placeholder.gif" alt="{{ profile.first_name }} image" width="350" height="200"  />
    {% endif %}

<h2 class="profile-name">Name: {{profile.first_name}}</h2>
<h4 class="profile-email">Email: {{profile.email}}</h4>
<h2 class="interests">Interests</h2>
<h4 class="profile-interests">{{profile.interest}}</h4>
<div id="events">
  <h2> <a href="{% url 'user_events' %}">Show Events</a></h2>
<a href="{% url 'event_create' %}">New Event</a></h2>



{% for event in events %}
       <li class="user-events">
           Name:<a href="{% url 'event_detail' id=event.id %}">{{ event.event_name }}</a>
           Location:<a href="{% url 'event_detail' id=event.id %}">{{ event.event_location }}</a>
           DateTime:<a href="{% url 'event_detail' id=event.id %}">{{ event.event_datetime }}</a>
          <a href="{% url 'event_delete' id=event.id %}" class="delete">x</a>
          <a href="{% url 'event_edit' id=event.id %}" class="edit">edit</a>

      </li>
      {% endfor %}
</div>






{% endblock %}
